*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* li{
    list-style: none;
} */
/* ------- */
.btn-linear {
    border: 1px solid transparent;
    padding: 15px 35px;
    color: #fff;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    ;
    background-size: 200%;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 30px;
}
.title-p{
    color: #f55f8d;
    font-size: 22px;
    font-family: initial;
    font-weight: 600;

}
.title-h2{
    color: #262626;
    font-size: 60px;
    font-family: initial;
    font-weight: 600;
 
}
.title-h3{
    color: #262626;
    font-size: 20px;
    font-weight: 700;
}
.fa-check{
    color: #fff;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border: 1px solid transparent;
    background-size: 200%;
    border-radius: 50%;
    padding: 10px;
   
}
.title-span,
.content__p{
    display: block;
    font-size: 15px;
    padding: 10px 0;
}

/* HEADER */
.header {
    position: absolute;
    top: 3%;
    left: 0;
    z-index: 50;
    width: 100%;

}

/* CAROUSEL */
.carousel {
    position: relative;
    background-image: url(../images/pic2.png);
    background-position: top;
    background-size: cover;
    object-fit: cover; 

}

.carousel .carousel__content--article .list__group{
    padding-left: 0!important;
}
.list-group-item{
    border: none!important;
    z-index: 1;
}

/* Digital Services */
.digital__services{
    background-image: url(../images/bg2.png);
    background-position: top center;
    background-size: cover;
}
.services__thumbnail{
    gap: 30px;
}
.services__item{
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 30px 40px;
}

/* About Us */